# Ignorar arquivos de modelo (Pesados)
*.keras
*.h5
*.tflite

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar ambiente virtual (se usar)
venv/
.env

# Ignorar fotos
assets/pictures/
